h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif
}

ion-icon {
    color: rgb(26, 201, 186)
}

body {
    position: relative;
}

ul.nav-pills {
    top: 600px;
    position: fixed;
}

div.col-8 div {
    height: 500px;
}